name: Publish
on:
  push:
    tags:
      - 'v*'

permissions: {}

jobs:
  build-n-publish:
    name: Build and Publish to PyPI
    runs-on: ubuntu-latest
    environment: publish-pypi
    permissions:
      id-token: write
      attestations: write
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v6
      - name: Setup uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7.2.1
        with:
          enable-cache: false
      - name: Build
        run: uvx --with=build python -m build
      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: 'dist/*'
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
